<h1 class="Box__maintitle mt-5 mb-2">
  <%=@project.name%><%= image_tag "info-circle.svg", class:"pointer ms-2", width:24, height:24, data: { bs_toggle: "modal", bs_target: "#projectModal"} %>
</h1>
<div class="d-flex justify-content-between">
  <div class="Box__grey_text d-flex align-items-center">
    Учасники:
    <%= render partial: "user", collection: @users %>
  </div>
  <div class="Box__infotxt Box__colored">
    <%=@project.budget%>$
  </div>
</div>
<div class="splide users_splide row Box mt-4 mx-0 p-5"
  role="group">

  <div class="splide__track">
    <ul class="splide__list">
      <%= render @topics %>
    </ul>
  </div>

</div>
<%= render "topics/form", topic: Topic.new %>

<!-- Modal -->
<div class="modal fade" id="projectModal" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal_content modal_content__padding">
      <div class="modal_header">
        <h5 class="my-0 modal_title " id="projectModalLabel"><%=@project.name%></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal_body">
        <p class="modal_desc"><%=@project.description%></p>
      </div>
    </div>
  </div>
</div>

<!-- Modal for topic-->
<div class="modal " id="topicModal" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal_content modal_content__padding">
      <div class="modal_header mb-3">
        <div>
          <h5 class="my-0 modal_title" id="projectModalLabel">Зробити щось і тут і там</h5>
          <p>у списку: <span class="modal_content__title mt-2">Завдання test</span></p>
        </div>
        <button type="button" class="btn-close mb-auto" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal_body">
        <div class="row">
          <div class="col-8">
            <p class="modal_content__title mb-1" >Учасники</p>
            <div class="modal_content__persons">
              <%= render partial: "user", collection: @users  %>
            </div>
            <div>
              <h5 class="modal_content__title mt-4 mb-2">Опис</h5>
              <p>Some information for testing modal window Lorem ipsum dolor sit amet, est nisl postulant ea, affert recteque in has. Ut possit legendos eum, ius erat audire legimus ei, te quis option meliore has. Fabulas graecis platonem ius at, deleniti temporibus sit te. Eu est elitr scriptorem. Solet dicunt admodum no ius. Est quem dolor id, ei porro dolore eos.
              affert recteque in has. Ut possit legendos eum, ius erat audire legimus ei, te quis option meliore has. Fabulas graecis platonem ius at, deleniti temporibus sit te. Eu est elitr scriptorem. Solet dicunt admodum no ius. Est quem dolor id, ei porro dolore eos.
              affert recteque in has. Ut possit legendos eum, ius erat audire legimus ei, te quis option meliore has. Fabulas graecis platonem ius at, deleniti temporibus sit te. Eu est elitr scriptorem. Solet dicunt admodum no ius. Est quem dolor id, ei porro dolore eos.
              </p>
              <h5 class="modal_content__title mt-4 mb-2">Вкладення</h5>
            </div> 
          </div>
          <div class="col-4">
            <h5 class="modal_content__title">Дії</h5>
            <a type="button" class="btn btn__mark">Приєднатися</a>
            <a type="button" class="btn btn__mark">Позначити: <span>В процесі</span></a>
            <a type="button" class="btn btn__mark">Позначити: <span>На перевірці</span></a>
            <a type="button" class="btn btn__mark">Позначити: <span>Виконано</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>