<h1 class="Box__maintitle mt-5 mb-2">
  <%=@project.name%><%= image_tag "info-circle.svg", class:"ms-2", width:24, height:24 %>
</h1>
<div class="d-flex justify-content-between">
  <div class="Box__grey_text d-flex align-items-center">
    Учасники:
    <%= render partial: "user", collection: @users %>
  </div>
  <div class="Box__infotxt Box__colored">
    <%=@project.budget%>$
  </div>
</div>
<div class="splide users_splide row Box mt-4 mx-0 p-5"
  role="group">

  <div class="splide__track">
    <ul class="splide__list">
      <%= render @topics %>
    </ul>
  </div>

</div>
<%= render "topics/form", topic: Topic.new %>