<h1><%=@project.name%></h1>
<div class="">
  <div class="">
    Учасники: <%= render partial: "user", collection: @users %>
  </div>
  <div class="">
    <%=@project.budget%>$
  </div>
</div>
<div class="row" id=<%="#{dom_id(@project)}_list"%>>

  <%= render @topics %>

</div>
<%= render "topics/form", topic: Topic.new %>
