<nav class="navbar navbar-expand-lg ">
  <div class="container">
    <button class="navbar-toggler" type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon "></span>
    </button>
    <div>
      <%= link_to root_path, class:"navbar-brand"  do %>
      <%= image_tag "/logo.svg",  height: 60 %>
      <%end%>
    </div>
    <div class="collapse navbar-collapse"
      id="navbarCollapse">
      <ul
        class="navbar-nav ms-auto align-items-center mb-lg-0">
        <li class="nav-item">
          <%= link_to projects_my_path ,class:"nav-link me-3"  do %>
          Мої проекти
          <%end%>
        </li>
        <li class="nav-item">
          <%= link_to my_path, class:"nav-link #{'nav-link__active' if current_page?(my_path)}", title: "Профіль"  do %>
          <%= image_tag "/user.svg", height: 60, alt: current_user.email, title: current_user.email %>
          <%end%>
        </li>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, class:"nav-link ms-lg-3", method: :delete do%>
            Вихід
          <%end%>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="bottom_of_navbar d-flex align-items-center ">
  <div class="container">
    <ul
      class="navbar-nav flex-sm-row">
      <li class="nav-item nav-item__margin ">
        <%= link_to root_path, class:"nav-link"  do %>
        Головна
        <%end%>
      </li>
      <li class="nav-item nav-item__margin ">
        <%= link_to projects_path, class:"nav-link"  do %>
        Проекти
        <%end%>
      </li>
      <li class="nav-item nav-item__margin ">
        <%= link_to root_path, class:"nav-link"  do %>
        Персонал
        <%end%>
      </li>
    </ul>
  </div>
</div>